<div class="modal fade noselect" id="battleFrontierModal" tabindex="-1" role="dialog" aria-badgeledby="battleFrontierModal">
    <div class="modal-dialog modal-md" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5>Battle Frontier</h5>
               <button type="button" class="close" aria-label="Close" onclick="BattleFrontier.closeModal()">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>

           <div class="modal-body p-0">
              <div data-bind="ifnot: App.game.gameState == GameConstants.GameState.battleFrontier">
                <img width="100%" src="assets/images/towns/Battle Frontier.png"/>
                <h1>Highest Stage: <knockout data-bind="text: BattleFrontier.highestStage">0</knockout></h1>
                <h1>Next reward unlocked at: <knockout data-bind="text: '35'">35</knockout></h1>
                <h1>Current BP: <knockout data-bind="text: '120'">120</knockout></h1>
                <a class="btn btn-block btn-success" onclick="BattleFrontier.start()">Start Battles!</a>
              </div>
              <div class="battle-view">
                <div class="row justify-content-center no-gutters" data-bind="if: App.game.gameState == GameConstants.GameState.battleFrontier">
                  <div class="col no-gutters clickable" data-bind="click: function() {BattleFrontierBattle.clickAttack()}" style="height: 220px; display: block;">
                      <h2 class="pageItemTitle" style="display: block;">

                          <knockout class="routeInfo">
                              Stage <knockout data-bind="text: BattleFrontierBattle.stage">0</knockout>
                          </knockout>

                          <knockout>
                              <knockout data-bind="text: BattleFrontierBattle.enemyPokemon().name">Pokemon name</knockout>
                          </knockout>

                          <knockout class="routeProgress" data-bind="html: BattleFrontierRunner.pokemonLeftImages">
                          </knockout>

                          <div class="progress timer">
                              <div class="progress-bar bg-danger" role="progressbar"
                                   data-bind="attr:{ style: 'width:' + BattleFrontierRunner.timeLeftPercentage() + '%' },
                                   css: { 'bg-danger': BattleFrontierRunner.timeLeftSeconds() < 20, 'bg-primary': BattleFrontierRunner.timeLeftSeconds() >= 20 }"
                                   aria-valuemin="0" aria-valuemax="100">
                                   <span data-bind="text: BattleFrontierRunner.timeLeftSeconds() + 's'" style="font-size: 12px;"></span>
                              </div>
                          </div>

                      </h2>

                      <div>
                          <img id="enemy"
                                data-bind="attr:{ src: PokemonHelper.getImage(BattleFrontierBattle.enemyPokemon(), BattleFrontierBattle.enemyPokemon().shiny) }"
                                src=""/>
                      </div>
                      <div class="progress hitpoints" style="height: 20px;">
                          <div class="progress-bar bg-danger" role="progressbar"
                               data-bind="attr:{ style: 'width:' + BattleFrontierBattle.enemyPokemon().healthPercentage() + '%' }"
                               aria-valuemin="0" aria-valuemax="100">
                               <span data-bind="text: BattleFrontierBattle.enemyPokemon().health() + ' / ' + BattleFrontierBattle.enemyPokemon().maxHealth()" style="font-size: 12px;"></span>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
           </div>

           <div class="modal-footer">
               <button type="button" class="btn btn-primary" onclick="BattleFrontier.closeModal()">Close</button>
           </div>
       </div>
    </div>
</div>
