<g data-bind='if: player.region == GameConstants.Region.sinnoh'>
    <image width="100%" xlink:href="assets/images/sinnoh.png"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 201-->
    <%- include('templates/mapRoute',
        { route: 201, region: 3
        , height: 3, width: 11
        , x: 7, y: 50
        })
     %>

    <!--Route 202-->
    <%- include('templates/mapRoute',
        { route: 202, region: 3
        , height: 3, width: 4
        , x: 18, y: 46
        , rotate: true
        })
     %>

    <!--Route 203-->
    <%- include('templates/mapRoute',
        { route: 203, region: 3
        , height: 3, width: 7
        , x: 23, y: 43
        })
    %>

    <!--Route 204-->
    <%- include('templates/mapRoute',
        { route: 204, region: 3
        , height: 3, width: 6
        , x: 18, y: 37
        , rotate: true
        })
    %>


    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--Twinleaf Town-->
    <%- include('templates/mapTown',
        { name: "Twinleaf Town"
        , x: 69, y: 298
        , type: "O"
        , home: true
        })
     %>

     <!--Sandgem City-->
     <%- include('templates/mapTown',
         { name: "Sandgem Town"
         , x: 69, y: 213
         , type: "O"
         })
      %>

    <!-- -------- -->
    <!-- DUNGEONS -->
    <!-- -------- -->

    <!--Viridian Forest-->
    <%- include('templates/mapDungeon',
        { name: "Maniac Tunnel"
        , x: 76, y: 156
        })
     %>

    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 325, y: 240
        , databind: "click: function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Canalave City') }"
        })
     %>
</g>
